:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1366px;
  height: 3371px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 1366px;
  height: 80px;
  margin: 0 0 0 0;
  background: #306d57;
  z-index: 90;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.logo {
  position: absolute;
  width: 75px;
  height: 62.705px;
  top: 9px;
  left: 110px;
  background: url(./assets/images/668912bf-f88a-482a-8e1a-5e93c3c8af5d.png)
    no-repeat center;
  background-size: cover;
  z-index: 92;
}
.svyazatsya-s-nami {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30%;
  top: 37.5%;
  left: 77.67%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 94;
}
.theilavax-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30%;
  top: 37.5%;
  left: 56.08%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.ular {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 39px;
  height: 60%;
  top: 37.5%;
  left: 47.73%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  z-index: 97;
}
.galeriya {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30%;
  top: 37.5%;
  left: 67.57%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 95;
}
.glavnaya {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30%;
  top: 37.5%;
  left: 28.92%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 100;
}
.o-nas {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30%;
  top: 37.5%;
  left: 39.02%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 99;
}
.line {
  position: absolute;
  width: 6.59%;
  height: 2.5%;
  top: 65%;
  left: 55.78%;
  background: url(./assets/images/7437e451-b65d-473d-a53c-fd4540643bca.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 98;
}
.flex-row-ada {
  position: relative;
  width: 1366px;
  height: 483px;
  margin: 0 0 0 0;
  z-index: 30;
}
.image {
  position: absolute;
  width: 1366px;
  height: 450px;
  top: 0;
  left: 0;
  background: url(./assets/images/936d8740-768f-4ff4-b40f-5024f3572195.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.rectangle-2 {
  position: absolute;
  width: 1366px;
  height: 450px;
  top: 0;
  left: 0;
  background: url(./assets/images/20c97dac-f2e3-452e-b6d2-8830f3089426.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
}
.rectangle-3 {
  position: absolute;
  width: 821px;
  height: 309px;
  top: 174px;
  left: 50%;
  background: #ffffff;
  transform: translate(-50.06%, 0);
  z-index: 30;
  border-radius: 30px;
}
.theilavax-4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 711px;
  height: 82px;
  top: 97px;
  left: 56px;
  color: #3e6734;
  font-family: Roboto, var(--default-font-family);
  font-size: 70px;
  font-weight: 800;
  line-height: 82px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 32;
}
.flex-row-aa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1172px;
  height: 449px;
  margin: 19px 0 0 100px;
  z-index: 20;
}
.span-1 {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 591px;
  height: 315px;
  color: #363636;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  text-align: justified;
  z-index: 20;
}
.image-placeholder {
  flex-shrink: 0;
  position: relative;
  width: 449px;
  height: 449px;
  background: url(./assets/images/c079b03c26b1068d941662477e2180d8ecad50dd.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
  border-radius: 14px;
}
.background {
  position: relative;
  width: 1366px;
  height: 636px;
  margin: 38px 0 0 0;
  background: url(./assets/images/5eca4231-73a2-4dc5-86b4-08a2fd7ae37b.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
}
.image-5 {
  position: absolute;
  width: 449px;
  height: 450px;
  top: 93px;
  left: 100px;
  background: url(./assets/images/04baac0b2f6d9bf8eeeaf95a737f49e9b346944b.png)
    no-repeat center;
  background-size: cover;
  z-index: 25;
  border-radius: 14px;
}
.span-2 {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 575px;
  height: 420px;
  top: 108px;
  left: 691px;
  color: #363636;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  text-align: justified;
  z-index: 24;
}
.group {
  position: relative;
  width: 94px;
  margin: 47px 0 0 636px;
  background: url(./assets/images/74040329-0982-4539-ae8a-6701bbef0a26.png)
    no-repeat center;
  background-size: cover;
  z-index: 87;
}
.span-3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 127px;
  height: 30px;
  margin: 15px 0 0 619px;
  color: #3e6734;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 86;
}
.flex-row-ca {
  position: relative;
  width: 1563px;
  height: 1160px;
  margin: 24px 0 0 -110px;
  z-index: 88;
}
.group-2 {
  position: absolute;
  width: 1515px;
  height: 617px;
  top: 0;
  left: 36px;
  background: url(./assets/images/d100b6de-07ff-4c29-98fb-f624e043bfe4.png)
    no-repeat center;
  background-size: cover;
  z-index: 88;
}
.background-2 {
  position: absolute;
  width: 275px;
  height: 332px;
  top: 80px;
  left: 1076px;
  background: #f9f8f8;
  z-index: 58;
  border-radius: 30px;
}
.rectangle-6 {
  position: relative;
  width: 96px;
  height: 95px;
  margin: 33px 0 0 89px;
  background: #ffffff;
  border: 1px solid #306d57;
  z-index: 62;
  border-radius: 100px;
}
.span-4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 66px;
  top: 13.139px;
  left: 35px;
  color: #306d57;
  font-family: Open Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 800;
  line-height: 66px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 63;
  -webkit-text-stroke: 1px #306d57;
}
.span-5 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 275px;
  height: 29px;
  margin: 15px 0 0 0;
  color: #306d57;
  font-family: Roboto, var(--default-font-family);
  font-size: 25px;
  font-weight: 800;
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
  z-index: 60;
}
.background-3 {
  position: absolute;
  width: 275px;
  height: 332px;
  top: 80px;
  left: 771px;
  background: #f9f8f8;
  z-index: 65;
  border-radius: 30px;
}
.rectangle-7 {
  position: relative;
  width: 96px;
  height: 95px;
  margin: 32.861px 0 0 85px;
  background: #ffffff;
  border: 1px solid #306d57;
  z-index: 69;
  border-radius: 100px;
}
.span-3-8 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 66px;
  top: 13.139px;
  left: 35px;
  color: #306d57;
  font-family: Open Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 800;
  line-height: 66px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 70;
  -webkit-text-stroke: 1px #306d57;
}
.text-e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 275px;
  height: 63px;
  margin: 15.139px 0 0 0;
  color: #306d57;
  font-family: Roboto, var(--default-font-family);
  font-size: 25px;
  font-weight: 800;
  line-height: 29.297px;
  text-align: center;
  text-overflow: initial;
  z-index: 67;
  overflow: hidden;
}
.text-f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 251px;
  height: 125.985px;
  margin: 0 0 0 12px;
  color: #515b5f;
  font-family: Open Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 29.772px;
  text-align: center;
  z-index: 66;
}
.background-9 {
  position: absolute;
  width: 275px;
  height: 332px;
  top: 80px;
  left: 466px;
  background: #f9f8f8;
  z-index: 72;
  border-radius: 30px;
}
.rectangle-a {
  position: relative;
  width: 96px;
  height: 95px;
  margin: 35.861px 0 0 85px;
  background: #ffffff;
  border: 1px solid #306d57;
  z-index: 76;
  border-radius: 100px;
}
.span-2-b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 66px;
  top: 13.139px;
  left: 35px;
  color: #306d57;
  font-family: Open Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 800;
  line-height: 66px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 77;
  -webkit-text-stroke: 1px #306d57;
}
.text-11 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 275px;
  height: 67.176px;
  margin: 18.433px 0 0 0;
  color: #306d57;
  font-family: Roboto, var(--default-font-family);
  font-size: 25px;
  font-weight: 800;
  line-height: 29.297px;
  text-align: center;
  z-index: 74;
}
.background-c {
  position: absolute;
  width: 275px;
  height: 332px;
  top: 80px;
  left: 161px;
  background: #f9f8f8;
  z-index: 79;
  border-radius: 30px;
}
.rectangle-d {
  position: relative;
  width: 96px;
  height: 95px;
  margin: 33px 0 0 89px;
  background: #ffffff;
  border: 1px solid #306d57;
  z-index: 83;
  border-radius: 100px;
}
.span-1-e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 66px;
  top: 13px;
  left: 35px;
  color: #306d57;
  font-family: Open Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 800;
  line-height: 66px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 84;
  -webkit-text-stroke: 1px #306d57;
}
.text-13 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 275px;
  height: 58px;
  margin: 15px 0 0 0;
  color: #306d57;
  font-family: Roboto, var(--default-font-family);
  font-size: 25px;
  font-weight: 800;
  line-height: 29.297px;
  text-align: center;
  z-index: 81;
}
.text-14 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 251px;
  height: 115px;
  margin: 5px 0 0 12px;
  color: #515b5f;
  font-family: Open Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 29.772px;
  text-align: center;
  z-index: 80;
}
.text-15 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 251px;
  height: 150px;
  top: 286px;
  left: 1088px;
  color: #515b5f;
  font-family: Open Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 29.772px;
  text-align: center;
  z-index: 59;
}
.text-16 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 251px;
  height: 133.194px;
  top: 295.899px;
  left: 478px;
  color: #515b5f;
  font-family: Open Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 29.772px;
  text-align: center;
  z-index: 73;
}
.image-f {
  position: absolute;
  width: 303.175px;
  height: 484.883px;
  top: 362.558px;
  left: 1149.412px;
  background: url(./assets/images/34c0decb-b155-4181-b49a-876d0d81e138.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.background-10 {
  position: absolute;
  width: 385px;
  height: 370px;
  top: 436px;
  left: 392px;
  background: #f9f8f8;
  z-index: 51;
  border-radius: 30px;
}
.rectangle-11 {
  position: relative;
  width: 96px;
  height: 95px;
  margin: 34px 0 0 145px;
  background: #ffffff;
  border: 1px solid #306d57;
  z-index: 55;
  border-radius: 100px;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 66px;
  top: 13.139px;
  left: 35px;
  color: #306d57;
  font-family: Open Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 800;
  line-height: 66px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 56;
  -webkit-text-stroke: 1px #306d57;
}
.span-12 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 275px;
  height: 37px;
  margin: 15px 0 0 56px;
  color: #306d57;
  font-family: Roboto, var(--default-font-family);
  font-size: 25px;
  font-weight: 800;
  line-height: 29.297px;
  text-align: center;
  white-space: nowrap;
  z-index: 53;
}
.span-13 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 361px;
  height: 115px;
  margin: 2px 0 0 13px;
  color: #515b5f;
  font-family: Open Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 29.772px;
  text-align: center;
  z-index: 52;
}
.background-14 {
  position: absolute;
  width: 385px;
  height: 370px;
  top: 436px;
  left: 807px;
  background: #f9f8f8;
  z-index: 37;
  border-radius: 30px;
}
.rectangle-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 93.394px;
  height: 95px;
  margin: 34px 0 0 146.529px;
  background: #ffffff;
  border: 1px solid #306d57;
  z-index: 42;
  border-radius: 100px;
}
.span-16 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 23.348px;
  height: 66px;
  color: #306d57;
  font-family: Open Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 800;
  line-height: 66px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 42;
  -webkit-text-stroke: 1px #306d57;
}
.span-17 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 267.534px;
  height: 37px;
  margin: 15px 0 0 58px;
  color: #306d57;
  font-family: Roboto, var(--default-font-family);
  font-size: 25px;
  font-weight: 800;
  line-height: 29.297px;
  text-align: center;
  white-space: nowrap;
  z-index: 39;
}
.span-18 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 360px;
  height: 180px;
  margin: 0 0 0 12px;
  color: #515b5f;
  font-family: Open Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 29.772px;
  text-align: center;
  z-index: 38;
}
.img-6 {
  position: absolute;
  width: 1563px;
  height: 455px;
  top: 598px;
  left: 0;
  background: url(./assets/images/5fd6be72-759c-416c-a605-16e0f7ab5a80.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.background-19 {
  position: absolute;
  width: 804px;
  height: 311px;
  top: 832px;
  left: 391px;
  background: #f9f8f8;
  z-index: 44;
  border-radius: 30px;
}
.rectangle-1a {
  position: relative;
  width: 96px;
  height: 95px;
  margin: 34px 0 0 354px;
  background: #ffffff;
  border: 1px solid #306d57;
  z-index: 48;
  border-radius: 100px;
}
.span-1b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 66px;
  top: 13.139px;
  left: 35px;
  color: #306d57;
  font-family: Open Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 800;
  line-height: 66px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 49;
  -webkit-text-stroke: 1px #306d57;
}
.poriadok-primeneniya {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 275px;
  height: 37px;
  margin: 12px 0 0 265px;
  color: #306d57;
  font-family: Roboto, var(--default-font-family);
  font-size: 25px;
  font-weight: 800;
  line-height: 29.297px;
  text-align: center;
  white-space: nowrap;
  z-index: 46;
}
.vaktsina-vvoditsya {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 778px;
  height: 150px;
  top: 1010px;
  left: 404px;
  color: #515b5f;
  font-family: Open Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 29.772px;
  text-align: center;
  z-index: 45;
}
.flex-row-e {
  position: relative;
  width: 1003.113px;
  height: 28px;
  margin: 224px 0 0 141px;
  z-index: 11;
}
.email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 0;
  left: 497px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 8;
}
.adres {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 1px;
  left: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 5;
}
.telefon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 1px;
  left: 906px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 11;
}
.flex-row-d {
  position: relative;
  width: 1062px;
  height: 82px;
  margin: 1px 0 0 141px;
  z-index: 10;
}
.shitemir-bk-ru-marhabat-bk-ru {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 171.896px;
  height: 54px;
  top: 0;
  left: 497px;
  color: #dbdbdb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-overflow: initial;
  z-index: 7;
  overflow: hidden;
}
.almaty-almalinskiy-r-n-kurmanhgazy-dom-kv-ofis {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 378px;
  height: 81px;
  top: 1px;
  left: 0;
  color: #dbdbdb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  z-index: 4;
}
.phone-number {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 156px;
  height: 81px;
  top: 1px;
  left: 906px;
  color: #dbdbdb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-overflow: initial;
  z-index: 10;
  overflow: hidden;
}
.pic-6 {
  position: absolute;
  width: 1595.633px;
  height: 602.076px;
  top: 578px;
  left: -118.15px;
  background: url(./assets/images/875a26e3-28bd-4276-9285-b3341deb2607.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
  border-radius: 10px;
}
.img-7 {
  position: absolute;
  width: 1522px;
  height: 354px;
  top: 1264px;
  left: -117px;
  background: url(./assets/images/93df2d82-1903-468c-acbe-84cb4753b524.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
}
.group-1c {
  position: absolute;
  width: 1366px;
  height: 796px;
  top: 2354px;
  left: -1px;
  background: url(./assets/images/81776829-cb7a-4f3c-bbe2-a98c93e60a8c.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.rectangle-1d {
  position: absolute;
  width: 1367px;
  height: 221px;
  top: 3150px;
  left: -1px;
  background: url(./assets/images/e41e5e62-892d-4a05-8234-3d9319d69446.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
